.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
body{
  background-color: #f6f6f6;
}
.alert {
  background-color: #9E9
}

.tray {
  position: absolute;
  bottom: 0px;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tray > div {
  width: 96%;
  height: 96%;
  box-sizing:content-box;
  margin: 2%;
  background-color: #dde;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 4px;
  border-radius: 4px;
  padding: 5px;
  background-color: #dee
}

.cancel button{
  background-color: #811;
  color: white;
}
