.search {
  position: absolute;
  top: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drive-ride-buttons {
  position: absolute;
  bottom: -410px;
  height: 20%;
  width: 100%;
}
